<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Recipe Book</a>

  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="onSelect('shopping-list')" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" style="margin-right: 8px;">
        <li class="nav-item dropdown" appDropdown #r="child">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Manage</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show': r.isShow}">
            <a href="#" class="dropdown-item">Save Data</a>
            <a href="#" class="dropdown-item">Fetch Data</a>
          </div>
        </li>
      </ul>
  </div>
</nav>
