<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}"
    class="img-fluid" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>{{recipe.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" appDropdown #r="child">
      <button type="button" id="dropDownRecipeAction"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropDownRecipeAction" [ngClass]="{'show': r.isShow}">
        <a href="#" class="dropdown-item" (click) = "onAddShop()">To Shopping</a>
        <a href="#" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
