<app-header (featureSelected) = "onNavigate($event)"></app-header>
<div class="container" style="padding-top: 10px">
  <div class="row">
    <div class="col-lg-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>
    </div>
  </div>
</div>

