<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action"
  (click) = "onSelected()">
    <div class="float-left">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{recipe.name}}</h5>
      </div>
      <p class="mb-1">{{recipe.description}}.</p>
    </div>
    <span class="float-right">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 50px">
    </span>
  </a>
</div>


