<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success mg-r-10" (click)="onAddItem()">Add</button>
            <button type="button" class="btn btn-danger mg-r-10">Delete</button>
            <button type="button" class="btn btn-primary mg-r-10">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
